.view__intentos {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: #EFEAE2;
    border-radius: 10px;
    width: 150px !important;
    height: 100px;
    font-weight: bold;
    font-size: 2em;
}