.principal {
    border: 0;
}

* {
    font-family: 'Muli', sans-serif;
}


.titulo_resultados {
    font-family: 'Heebo', sans-serif;
    font-size: 48pt;
    color: white;
}

.division_horizontal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
}

.mayores {


    & .resultado__porcentaje {
        width: 100px;
        &__circulo {
            position: absolute;
            
        }

        .icono{
            position: absolute;
         

        }
    }

    & .resultado__informacion{

        padding: 20px;
    }


}

.resultado {

    //variables de color

    $color-ciencias-n: #63D1B7;
    $color-arte: #EF6BAA;
    $color-fuerzas-publicas: #FF7373;
    $color-educacion: #59C5D3;
    $color-deportes: #FDF441;
    $color-salud: #FFBF74;
    $color-diseno: #BA76F0;
    $color-ingenieria: #6883E4;


    &__cuadro {
        display: flex;
        border-radius: 17px;
        background: rgba(255, 255, 255, 0.322);
        padding: 10px;
        margin: 10px;

    }

    &__porcentaje {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color-ciencias-n;
        width: 100px;


        &__circulo {
            position: absolute;
            display: block;
        }
    }



    &__informacion {
        display: flex;
        flex-direction: column;
        margin-left: 20px;


        h2 {
            color: white;
            font-style: bold;
           

        }

        h3 {
            font-size: 200%;
            font-style: bold;
            color: $color-fuerzas-publicas;
        }


    }

}


.cuadro_felicitaciones {
    width: 300px;
    color: white;
    font-size: 70%;
    text-align: center;
    background: rgba(255, 255, 255, 0.452);
    height: 92%;


    border-radius: 5px;
    border: 1px solid white;
    padding: 25px;
    margin: 20px;

    .medalla_icon {
        margin-top: 25px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .icono {
            position: absolute;
            display: block;
            margin-top: 50px;

        }
    }

    .cuadro_bordes_lados {
        border-bottom: 1px solid white;
        border-top: 1px solid white;
        margin: 20px 0 20px 0;
        padding: 20px 0 20px 0;
    }

}


.resultado__cuadro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.resultado__porcentaje {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.resultado__porcentaje__circulo {
    position: absolute;
    display: block;
}

.resultado__informacion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: red;
}

.mayores .rtitulo,
.mayores .rvalor {
    font-size: 2em;
}