.pizarras{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
   
}
.pizarra{
    position: relative;

    overflow: hidden;
    
    .ficha, .click{
        position: absolute;
        width: 100px;
        height: 100px;
    }

    &__clicks{
        
    }

    &__fichas, &__clicks{
        display: flex;
        flex-wrap: wrap;
    }

    
    .click{
        
        background: rgba(0, 128, 0, 0.219);
    }

    .ficha{
        transition: all .5s ease;
        position: absolute;
        background: red;

        &:hover{
            cursor: pointer;
        }

    }
}