.rv__prueba{
    margin: 40px 0;
}

.rv__pregunta {

    width: 1280px;
    border: 2px solid black;

    .seleccion {
        background: lightgreen;
    }

    &__maximos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-left: 2px solid lightseagreen;
        border-right: 2px solid lightseagreen;
        padding: 0 50px;
    }

    &__titulares {
        font-size: 2em;
    }

    &__img {
        display: flex;
        justify-content: space-evenly;
        border: 2px solid black;
        width: 1280px;

        .seleccion {
            background: lightgreen;
        }
    }

    &__opciones {


        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        &__opcion {

            &__img {
                display: flex;
            }
        }

        &__valor {

            font-size: 1.3em;
       

            display: flex;

            &__area {
                margin-right: 5px;
            }

            &__contenedor {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                min-width: 100px;
                height: 100%;
                padding: 0 15px;
            }
        }

        &__contenedor {
            display: flex;
            padding: 10px;
            border: 2px solid lightseagreen;
            margin: 5px 0;
            

            &__global {
                display: flex;
          
            }

            &__general {
                display: flex;
                padding: 0 50px;
            }

            &__item {
                display: flex;
                flex-direction: column;
                max-width: 400px;
                padding: 5px;

                &__img,
                &__text {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                &__img {

                    width: 200px;
                    height: 100px;
                }

                &__text {
                    min-width: 100px;
                    min-height: 100px;
                }
            }



        }
    }

}


.vm__pgaleria {

    width: 500px;

    &__principal {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 300px;

        &__img {
            height: 100%;
        }
    }

    &__opciones {
        display: flex;
        flex-wrap: wrap;

        &__opcion {

            width: 200px;
            height: 100px;

            &__img {
                object-fit: contain;
                width: 100%;
                height: 100%;
            }
        }
    }

}

